[package]
name = "prism"
version = "0.1.0"
edition = "2021"

[lib]
crate-type = ["cdylib"]

[dependencies]
coreaudio-sys = "0.2"
libc = "0.2"
syslog = "6.0"
log = "0.4"

[profile.release]
lto = true
codegen-units = 1
panic = "abort"
opt-level = 3
